<head>
  <title>Truck Dispatch</title>
</head>
<body>
  <header>
    <h1>Truck Dispatch Tracking</h1>
  </header>
  <div class="menu-bar">
    <li><button class="about" routerLink="about">About</button></li>
    <li><button class="register" routerLink="register">Register</button></li>
    <li><button class="login" routerLink="login">Login</button></li>
    <li><button class="product" routerLink="product">Product</button></li>
    <li><button class="industries" routerLink="industries">Industries</button></li>
    <li><button class="resources" routerLink="resources">Resources</button></li>
  </div>
  <ul>
    <li *ngFor="let item of data">
      {{item.title}}
    </li>
  </ul>

<router-outlet></router-outlet>
</body>